
@media (min-width: 1201px) {
    .cardPost{
        display: flex;
        flex-direction: column;
        background-color: white;
        height: 250px;
        width: 100%;
        gap: 15px; 
        border: 1px solid rgb(221, 221, 221);
        padding: 20px;
    }
    
    .body_post>span{
        overflow-y: hidden;
        text-align: start;
        color: rgb(148, 148, 148);
        max-height: 150px;
    }
    
    .cardPost>:first-child{
        gap: 15px;
    }
    
    .cardPost>:last-child{
        min-width: 150px;
    }
    
    .cardPost>*{
        display: flex;
        align-items: center;
    }
}

@media (max-width: 1200px) {
    .cardPost{
        display: flex;
        flex-direction: column;
        background-color: white;
        min-width: 300px;
        width: 100%;
        gap: 15px; 
        border: 1px solid rgb(221, 221, 221);
        padding: 25px;
    }
    
    .body_post>span{
        text-align: start;
    }
    
    .cardPost>:first-child{
        gap: 15px;
    }
    
    .cardPost>:last-child{
        min-width: 150px;
    }
    
    .cardPost>*{
        display: flex;
        align-items: center;
    }
}
