

@media (min-width: 801px){
    .containerCardUser{
        display: flex;
        flex-direction: column;
        height: 100%; 
        width: 100%;
    
    }
    
    select{
        width: 100%;
    }

    .actions{
        display: flex;
        justify-content: space-between;
    }
    
    .actions>*{
        display: flex;
        min-width: 150px;
    }
    
    .actions>:last-child{
        justify-content: flex-end;
    }
    
    .list_users{
        padding: 20px 0;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
}

@media (max-width: 800px){
    .containerCardUser{
        display: flex;
        flex-direction: column;
        height: 100%; 
        width: 100%;
    }
    
    .actions{
        display: flex;
        justify-content: space-between;
    }
    
    .actions>*{
        display: flex;
    }

    select{
        width: 100%;
    }
    
    .actions>:last-child{
        justify-content: flex-end;
    }
    
    .list_users{
        padding: 20px 0;
        display: flex;
        height: 100%;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }
}