.containerCardPost{
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    
}

.actions{
    display: flex;
    justify-content: space-between;
}

.actions>*{
    display: flex;
    width: 12%;
}

.actions>:last-child{
    justify-content: flex-end;
}

.list_post{
    flex-wrap: wrap;
    padding: 20px 0;
    display: flex;
}