
@media (min-width: 801px){
    .containerCardPost{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%; 
        width: 100%;
        padding: 0 50px;
    }
    
    .actions{
        right: 0;
        top: 0;
        width: 100%;
        padding: 10px 0;
        display: flex;
        justify-content: space-between;
    }
    
    .actions>*{
        display: flex;
        width: 12%;
    }
    
    .actions>:last-child{
        justify-content: flex-end;
        min-width: 150px;
    }
    
    .list_post{
        height: calc(100vh - 100px);
        overflow-y: scroll;
        margin-top: 20px;
        flex-wrap: wrap;
        display: flex;
    }
}

@media (max-width: 800px) {
    .actions{ 
        padding: 20px 10px;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .actions>*{
        display: flex;
        width: 48%;
    }
    

    .list_post{
        margin-top: 55px;
        flex-wrap: wrap;
        padding: 15px 0;
        display: flex;
    }
}