.container_create{
    display: flex;
    flex-direction: column;
    height: 100%; 
    width: 100%;
    
}

.actions_container_create{
    display: flex;
    justify-content: space-between;
}

.actions_container_create>*{
    display: flex;
    width: 30%;
}


.form_create{
    display: flex;
    justify-content: center;
    padding: 20px 0;
    display: flex;
    width: 100%;
}