@media (min-width: 801px) {
    .cardUser{
        display: flex;
        background-color: white;
        width: 100%;
        height: 80px;
        padding: 0 40px;
        gap: 10px; 
    }

    .name_user>span{
        text-align: start;
    }
    
    .avatar_user{
        width: 40px;
    }
    
    .cardUser>:first-child{
        display: flex;
        align-items: center;
        width: 5%;
    }
    

    
    .cardUser>*{
        overflow-x: hidden;
        gap: 10px;
        display: flex;
        align-items: center;
        width: calc(100% / 4);
    }
}

@media (max-width: 800px) {
    .cardUser{
        display: flex;
        background-color: white;
        width: 100%;
        height: 80px;
        padding: 0 30px;
        gap: 10px; 
    }
    
    .avatar_user{
        width: 40px;
    }
    

    .name_user>span{
        text-align: start;
    }

    .cardUser>:first-child{
        display: flex;
        align-items: center;
        width: 5%;
    }
    
    .cardUser>* {
        overflow-x: hidden;
        gap: 10px;
        display: flex;
        align-items: center;
        width: calc(100% / 2);
    }

    .userName_user{
        display: none;
    }

    .email_user {
        display: none;
        
    }

    .type_User{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
}
