

@media (min-width: 801px){
    .containerCardUser{
        padding: 0 50px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    select{
        width: 100%;
    }

    .actions{
        display: flex;
        justify-content: space-between;
    }
    
    .actions>*{
        display: flex;
        min-width: 150px;
    }
    
    .actions>:last-child{
        justify-content: flex-end;
    }
    
    .list_post,
    .list_users{
        height: calc(100vh - 100px);
        overflow-y: scroll;
        margin-top: 20px;
        flex-direction: column;
        display: flex;
        gap: 5px;
    }

    .not_results{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 800px){
    .containerCardUser{
        padding: 0 5px;
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .actions{ 
        background-color: white;
        padding: 20px 10px;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
        position: absolute;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    }
    
    .actions>*{
        display: flex;
        width: 48%;
    }

    select{
        width: 100%;
    }
    
    .actions>:last-child{
        justify-content: flex-end;
    }
    
    .list_post,
    .list_users{
        margin-top: 55px;
        display: flex;
        height: 100%;
        padding: 15px 0;
        width: 100%;
        flex-direction: column;
        gap: 10px;
    }

    .not_results{
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}