* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #F8F9FD;
    max-height: 100vh;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
}

